.dash-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  min-width: 200px;
  padding: 10px;
  box-shadow: var(--box_shadows);
}
