// .das_main {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-template-areas:
//     'title title title title'
//     'card card card card'
//     'chart chart chart chart';
//   gap: 15px;
// }
// .das_child_title {
//   grid-area: title;
//   // background-color: #f0e68c;
//   display: flex;
//   gap: 10px;
//   justify-content: space-evenly;
//   height: 15vh;
// }
// .das_child_card {
//   grid-area: card;
//   // background-color: #f0a38c;
//   display: flex;
//   justify-content: space-evenly;
//   height: 20vh;
// }
// .das_child_chart {
//   grid-area: chart;
//   // background-color: #8cd4f0;
//   display: flex;
//   justify-content: space-evenly;
//   height: 50vh;
// }

.dashboard {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    'title'
    'cards'
    'charts';
  // gap: 10px;

  // min-height: 100vh;
  min-width: 100%;
  // background-color: lightgray;
}
.dashboard_title {
  margin-bottom: 10px;
  grid-area: title;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 10px;
  min-height: 100px;
}

.dashboard_card {
  margin-bottom: 10px;
  grid-area: cards;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  min-height: 150px;
}

.dashboard_charts {
  margin-bottom: 10px;
  grid-area: charts;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  min-height: 300px;
}
