.das_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'title title title title'
    'card card card card'
    'chart chart chart chart';
  gap: 15px;
}
.das_child_title {
  grid-area: title;
  background-color: #f0e68c;
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
}
.das_child_card {
  grid-area: card;
  background-color: #f0a38c;
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
}
.das_child_chart {
  grid-area: chart;
  background-color: #8cd4f0;
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
}
